@use '../_modal' as *;

.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: $z-modal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  @extend %modal-base;
}
.close {
  position: absolute;
  top: 1em;
  right: 1em;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: $color-primary;
} 