@use './_variables' as *;

%input-base {
  font-family: $font-family-base;
  border: 1px solid $color-primary;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1em;
  outline: none;
  transition: border 0.2s;
} 