@import '../styles/variables.css';

.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: var(--radius-xl);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  font-family: var(--font-family);
  font-size: var(--font-size-btn);
  padding: var(--spacing-sm) var(--spacing-lg);
  transition: background 0.2s, box-shadow 0.2s;
}
.storybook-button--primary {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: var(--color-shadow);
}
.storybook-button--primary:hover {
  background-color: var(--color-primary-hover);
  box-shadow: var(--color-shadow-hover);
}
.storybook-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: var(--color-black);
}
.storybook-button--small {
  padding: var(--spacing-xs) var(--spacing-md);
  font-size: var(--font-size-sm);
}
.storybook-button--medium {
  padding: var(--spacing-sm) var(--spacing-lg);
  font-size: var(--font-size-base);
}
.storybook-button--large {
  padding: var(--spacing-md) var(--spacing-xl);
  font-size: var(--font-size-title);
}
