@import '../../styles/variables.css';

.badge {
  display: flex;
  align-items: flex-end;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  gap: 4px;
  line-height: 1.2;
  color: var(--color-black);
}
.badge img, .badge svg, .badge .icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.badge span:last-child {
  border-bottom: 1px dotted #aaa;
  padding-bottom: 1px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
} 