@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.radioWrapper {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  width: fit-content;
  cursor: pointer;
  user-select: none;
}
.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.circle {
  width: 20px;
  height: 20px;
  border: 1.5px solid $border;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.18s, box-shadow 0.18s;
  margin-right: $spacing-xs;
  &.checked {
    border-color: $primary;
  }
  &.error {
    border-color: #ffcccc !important;
    background: #fff6f6;
  }
  &.disabled {
    background: $background-secondary;
    border-color: $border;
    cursor: not-allowed;
  }
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  display: none;
  &.checked {
    background: $primary;
    display: block;
  }
}
.label {
  font-size: $font-size-base;
  color: $text-primary;
  &.disabled {
    color: $text-tertiary;
  }
}
.error-message {
  color: #e53935;
  font-size: $font-size-xs;
  margin-left: 24px;
} 
